.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    .scrollup__icon {
        color: var(--container-color);
        font-size: 1.5rem;
    }
    &:hover {
        background-color: var(--title-color-dark);
    }
}
// SHOW SCROLL
.show-scroll {
    bottom: 3rem;
}

// Media Screen Queries
@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
        .scrollup__icon {
            font-size: 1.25rem;
        }
  }
}
@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
   
}

@media screen and (max-width: 375px) {

}

