
.skills {
   text-align: center;
}
.skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    justify-content: center;
    margin-top: 1rem;

    .skills__content {
        background-color: var(--container-color);
        border: 1px solid rgba(0,0,0,0.1);
        padding: 2rem 4rem;
        border-radius: 1.25rem;
    }

    .skills__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        text-align: center;
        margin-bottom: var(--mb-1-5);
    }
    .skills__box {
        display: flex;
        justify-content: center;
        column-gap: 2.5rem;
    }
    
    .skills__group {
        display: grid;
        align-items: flex-start;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.8rem;
    }

    .skills__data {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        row-gap: 0.2rem;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 1rem;
        box-shadow: -2px -31px 26px -32px rgba(4,77,109,0.62) inset;
        -webkit-box-shadow: -2px -31px 26px -32px rgba(4,77,109,0.62) inset;
        -moz-box-shadow: -2px -31px 26px -32px rgba(4,77,109,0.62) inset;
        padding: 0.75rem;
        height: 115px;

            i {
                font-size: var(--h2-font-size);
                color: var(--text-color);
                margin: 0.1rem 0 !important;
            }
            .skills__name {
                font-size: var(--normal-font-size);
                font-weight: var(--font-medium);
                letter-spacing: 0.125rem;
            }
            .skills__level {
                font-size: var(--tiny-font-size);
            }
    }
}

// Media Screen Queries
@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: 750px;
        .skills__group {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 576px) {
    .skills__container{
        grid-template-columns: 350px;
        margin-left: 4.25rem !important;
        .skills__group {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 375px) {
    .skills__container{
        grid-template-columns: 350px;
        margin: auto;
    }
}